brotli
ConfigParser>=7.1.0
cryptography>=46.0.2
Cython>=3.1.4
datasets>=4.2.0
deepspeed>=0.18.0
dl>=0.1.0
docutils>=0.22.2
evaluate>=0.4.6
HTMLParser>=0.0.2
importlib_metadata==8.7.0+computecanada
keyring>=25.6.0
lockfile>=0.12.2
lxml>=6.0.2
monotonic>=1.6
numpy>=2.2.2
ordereddict>=1.1
pandas==2.2.3+computecanada
peft>=0.17.1
protobuf>=6.32.1
pyOpenSSL>=25.3.0
scikit_learn>=1.7.2
thread>=2.0.5
torch==2.7.1+computecanada
tornado==6.5.2+computecanada
tqdm==4.67.1+computecanada
transformers>=4.57.0
zipp==3.23.0+computecanada

sentencepiece
wandb

